# Algorand deployment
ALGO_MNEMONIC=your twenty five word mnemonic phrase here

# Frontend
VITE_ALGOD_SERVER=https://testnet-api.4160.nodely.dev
VITE_INDEXER_SERVER=https://testnet-idx.4160.nodely.dev
VITE_DEMO_MODE=true
VITE_EXPLORER_BASE=https://testnet.explorer.perawallet.app

# Servers
MOCK_FIP_PORT=3001
DELEGATION_SERVER_PORT=3002
